.markdown-view {
  * {
    font: inherit !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: var(--size-xl) 0 var(--size-md) !important;
    font-weight: var(--font-weight-lg) !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  img {
    margin: var(--size-xl) 0 !important;
  }

  li {
    &::before {
      content: '• ';
    }
  }

  a {
    color: var(--color-primary);
  }

  code {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    border-radius: var(--size-sm);
    padding: 0 var(--size-sm);
  }
}
