@import "../../assets/styles/variables.scss";

.project-list {
  padding: 0;
  margin: 0;
}

.project {
  list-style-type: none;
  margin-bottom: 48px;

  &__title {
    font-size: 22px;
    margin: 0 0 16px;

    a, span, img {
      vertical-align: text-bottom;
    }
  }

  &__info {
    color: $light-color;
    font-weight: 500;
    cursor: default;
  }

  &__platform {
    display: inline;
  }

  &__status {
    float: right;
  }

  &__image {
    overflow: hidden;
    display: block;
    background: $pale-color;
    height: 240px;

    img {
      cursor: pointer;
      transition: transform .25s;
      vertical-align: top;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover img {
      transform: translateY(16px);
    }
  }
}