@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-weight: bold;
}
