// colors
$accent-color: #bc8cf2;
$accent-hover-color: #aa14f0;
$border-color: #aaa;
$back-color: #eee;
$back-hover-color: #ddd;
$outline-color: #000;

// durations
$transition-duration: 0.25s;
$animation-duration: 0.5s;

//opacity
$disabled-opacity: 0.5;
