.global-header {
  text-align: center;
  margin: 40px 0;

  &__logo {
    h1 {
      font: 48px/64px "Pacifico";
      margin: 0;
    }
  }

  &__menu {
    padding: 0;
    margin: 8px 0;
    display: flex;
    justify-content: center;

    li {
      list-style-type: none;
      padding: 0 8px;
    }
  }
}
