@import "../../assets/scss/variables.scss";

.project-card {
  &__title {
    margin-bottom: $size-md;
  }

  &__text {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }

  &__platform {
    color: $second-color;
    font-weight: 500;
    font-size: 20px;
  }

  &__image {
    display: block;
    overflow: hidden;
    background: $accent-color-pale;
    border-radius: $size-md;
    box-shadow: $shadow-md;
    transition: box-shadow $transition-duration;

    & > img {
      width: 100%;
      vertical-align: top;
      transition: transform $transition-duration;
      height: 280px;
      object-fit: cover;
      object-position: top;
    }

    &--clickable {
      &:hover {
        box-shadow: $shadow-lg;

        & > img {
          transform: translateY(16px);
        }
      }
    }
  }
}
