@import "../../assets/scss/variables.scss";

.project-card {
  &__title {
    margin-bottom: $size-lg;
    text-align: center;
    font-size: $font-size-lg;
  }

  &__text {
    font-weight: 600;
  }

  &__platform {
    color: $color-secondary;
    font-weight: 400;
  }

  &__tile {
    display: block;
    overflow: hidden;
    background: $color-substrate;
    border-radius: $size-lg;
    position: relative;
    height: 280px;
  }

  &__image {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    top: 100px;
    transition: top $duration-t, box-shadow $duration-t;
    border-radius: $size-md;
    box-shadow: $shadow-lg;
  }

  &--clickable &__tile:hover &__image {
    top: 50px;
    box-shadow: $shadow-xl;
  }
}
