.contributors {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--size-md) * -1) 0;
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 33.33%;
    margin: var(--size-md) 0;
  }

  &__item-image {
    border-radius: 50%;
    width: var(--size-xl);
  }

  &__item-link {
    margin: 0 var(--size-lg);
  }

  @media (max-width: 992px) {
    &__item {
      flex: 50%;
    }
  }

  @media (max-width: 576px) {
    &__item {
      flex: 100%;
    }
  }
}
