.contributors {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--size-md) * -1) 0;
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 33.3%;
    margin: var(--size-md) 0;
  }

  &__item-image {
    border-radius: 50%;
    width: var(--size-xl);
  }

  &__item-link {
    margin: 0 var(--size-lg);
  }
}
