@import "../../assets/scss/variables.scss";

.contributors {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 33.3%;
    margin: $size-md 0;
  }

  &__item-image {
    border-radius: 50%;
    width: $size-xl;
  }

  &__item-link {
    margin: 0 $size-lg;
  }
}
