@import "../../assets/scss/variables.scss";

.app {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  &__page {
    padding: $size-xl 0;
    flex: 1;
  }

  &__effects {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
}
