@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "Pacifico";
  src: url('../../assets/fonts/Pacifico.ttf');
}

body {
  font: 18px -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  color: $text-color;
  margin: 0;
}

main {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  font-weight: 500;

  &:not(.NO_ANIM)::after {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    height: 2px;
    width: 0;
    background: $link-color;
    transition: width .25s;
  }

  &:not(.NO_ANIM):hover::after {
    width: 100%;
  }
}