.about-page {
  text-align: center;

  &__heading {
    font-size: var(--font-size-mx);
    font-weight: var(--font-weight-lg);
    margin: var(--size-xl) 0;
  }

  &__article {
    text-align: left;
  }
}
