.plain-budget-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__section-cols {
    display: flex;
    gap: var(--size-mx);
  }

  &__section-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      flex-basis: 40%;
    }

    &:last-child {
      flex-basis: 60%;
    }
  }

  &__section-cols--reversed &__section-col {
    &:first-child {
      flex-basis: 60%;
    }

    &:last-child {
      flex: 40%;
    }
  }

  &__section-cols--tile {
    background: var(--color-substrate);
    border-radius: var(--size-lg);
    padding: var(--size-mx);
    height: 320px;
    overflow: hidden;
    align-items: flex-start;
    text-align: center;
  }

  &__section-cols--tile &__section-col {
    &:first-child {
      flex: 1;
    }

    &:last-child {
      flex: 1;
    }
  }

  &__section-cols--tile &__title {
    font-size: var(--font-size-xl);
    line-height: var(--font-size-mx);
    margin: 0;
  }

  &__section-cols--tile &__subtitle {
    font-size: var(--font-size-sm);
  }

  &__phone-holder {
    position: relative;
  }

  &__phone {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__screenshot {
    position: absolute;
    left: 8%;
    width: 84%;
    top: 2.5%;
    height: 94.8%;
    border-radius: 30px;
    overflow: hidden;
    filter: var(--shadow-xl);

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__screenshot-desktop {
    width: 100%;
  }

  &__app-icon {
    filter: var(--shadow-lg);
  }

  &__title {
    font-size: var(--font-size-mx);
    margin: var(--size-lg) 0;
    font-weight: var(--font-weight-lg);
    line-height: var(--font-size-mx2);
  }

  &__subtitle {
    font-size: var(--font-size-lg);
    margin-bottom: var(--size-lg);
  }

  &__description {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);

    ul {
      border-radius: var(--size-lg);
      overflow: hidden;

      li {
        background: var(--color-substrate);
        margin-bottom: var(--size-sm);
        padding: var(--size-md) var(--size-lg);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    padding: var(--size-xl) 0;
    animation-name: mount-slide;
    animation-duration: var(--duration-t);
    flex-wrap: wrap;
    margin: calc(-1 * var(--size-md));

    &--centered {
      justify-content: center;
    }
  }

  &__button-holder {
    display: flex;
    flex-direction: column;
    padding: var(--size-md);
  }

  &__button-holder:hover &__button {
    filter: var(--shadow-xl);
    transform: translateY(calc(var(--size-md) * -1));
  }

  &__button {
    border: none;
    padding: var(--size-md) var(--font-size-lg) var(--size-md) var(--size-lg);
    display: flex;
    align-items: center;
    border-radius: var(--size-md);
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    background: var(--color-text);
    color: var(--color-bg);
    filter: var(--shadow-lg);
    transition: filter var(--duration-t), transform var(--duration-t);

    img {
      filter: invert(1);
      margin-right: var(--size-lg);
    }
  }

  &__button-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__button-text-prefix {
    opacity: 0.5;
    font-size: var(--font-size-sm);
    margin-bottom: calc(-1 * var(--size-sm));
    margin-top: var(--size-xs);
  }

  &__button-text-postfix {
    font-size: var(--font-size-lg);
  }

  &__head {
    min-height: calc(100vh - 360px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__section {
    padding: var(--size-mx2) 0 var(--size-xl);
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  &__scroll-down-container {
    display: flex;
    justify-content: center;
    margin-top: var(--size-mx);
  }

  &__scroll-down-button {
    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(90deg);
    padding: var(--size-xl);

    & > img {
      @keyframes jumping-vertical {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(8px);
        }
        100% {
          transform: translateX(0);
        }
      }

      animation: jumping-vertical 1s infinite;
    }
  }

  &__scroll-to-desktop-button {
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 992px) {
    &__section-cols {
      gap: var(--size-lg);
    }
  }

  @media (max-width: 768px) {
    &__section-cols {
      flex-direction: column-reverse;
      text-align: center;
      gap: var(--size-xl);

      &--reversed,
      &--tile {
        flex-direction: column;
      }

      &--tile {
        padding: var(--size-xl) var(--size-lg) 0 var(--size-lg);
      }
    }

    &__buttons {
      justify-content: center;
    }

    &__section-col {
      align-items: center;
    }

    &__scroll-down-container,
    &__scroll-to-desktop-button {
      display: none;
    }
  }

  @media (max-width: 576px) {
    &__button-holder {
      width: calc(100% - var(--size-mx));
    }
  }
}
