.header {
  text-align: center;
  padding: var(--size-xl) 0;
  margin-bottom: var(--size-lg);

  &__logo {
    color: var(--color-primary);
    text-decoration: none;
    display: inline-block;

    h1,
    span {
      font: var(--size-xl) / 1.5 Pacifico;
      display: block;
      transition: transform var(--duration-t);
      transform: translateX(19px);
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: nonea;

      &::after {
        content: '❤';
        border-radius: var(--size-xs);
        opacity: 0;
        transition: opacity var(--duration-t);
        margin-left: var(--size-md);
      }
    }

    &--clickable:hover {
      h1,
      span {
        transform: translateX(0);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: var(--size-md);
  }

  &__link {
    margin: 0 var(--size-md);
  }
}
