@import "../../assets/scss/variables.scss";

.header {
  text-align: center;
  padding: $size-xl 0;

  &__logo {
    font: 42px/150% Pacifico;
    color: $accent-color;
    text-decoration: none;

    &--link {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__links {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__link {
    margin: 0 8px;
  }
}
