@import "../../assets/scss/variables.scss";

.footer {
  text-align: center;
  padding: $size-lg 0;
  margin: $size-mx 0 0;

  &__copyright {
    color: $color-secondary;
    font-size: $font-size-sm;
  }
}