.project-page {
  &__head {
    text-align: center;
  }

  &__title {
    font-size: var(--font-size-mx);
    margin: var(--size-lg) 0;
    font-weight: var(--font-weight-lg);
    line-height: var(--font-size-mx2);
  }

  &__description {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding: var(--size-mx) 0;
    animation-name: mount-slide;
    animation-duration: var(--duration-t);
    flex-wrap: wrap;
  }

  &__button-holder {
    display: flex;
    flex-direction: column;
    padding: var(--size-md);
  }

  &__button-holder:hover &__button--primary {
    filter: var(--shadow-xl);
    transform: translateY(calc(var(--size-md) * -1));
  }

  &__button {
    border: none;
    padding: var(--size-lg) var(--size-xl);
    display: flex;
    align-items: center;
    border-radius: var(--size-md);
    cursor: pointer;
    background: var(--color-substrate);
    text-decoration: none;
    justify-content: center;

    img {
      margin-right: var(--size-md);
    }

    &--primary {
      background: var(--color-primary);
      color: #fff;
      filter: var(--shadow-lg);
      transition: filter var(--duration-t), transform var(--duration-t);

      img {
        filter: invert(1);
      }
    }
  }

  &__button-version {
    opacity: 0.5;
    margin-left: var(--size-md);
  }

  &__button-label {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    margin-top: var(--size-lg);
  }

  &__tile-heading {
    text-align: center;
    margin: var(--size-mx2) 0 var(--size-xl);
    font-size: var(--font-size-xl);
  }

  &__release-name {
    font-size: var(--font-size-md);
    text-align: center;
    margin: var(--size-lg) 0;
    font-weight: var(--font-weight-md);
  }

  &__tile {
    padding: var(--size-mx);
    background: var(--color-substrate);
    border-radius: var(--size-lg);
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--size-md) * -1);
  }

  &__feature {
    background: var(--color-substrate);
    border-radius: var(--size-lg);
    flex-basis: calc(50% - var(--size-md) * 2);
    margin: var(--size-md);
    padding: var(--size-mx);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    &--small {
      flex-basis: calc(33.33% - var(--size-md) * 2);
      padding: var(--size-xl);
    }
  }

  &__feature--small &__feature-title {
    font-size: var(--font-size-sm);
  }

  &__feature-icon {
    margin-right: var(--size-md);
  }

  &__feature-title {
    font-size: var(--font-size-md);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__feature-description {
    font-size: var(--font-size-sm);
    margin-top: var(--size-lg);
  }

  &__feature-image {
    width: 100%;
    margin-top: var(--size-xl);
    flex: 1;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    &__tile {
      padding: var(--size-xl);
    }

    &__feature {
      padding: var(--size-xl);
      flex-basis: 100%;
    }
  }
}
