@import "../../assets/scss/variables.scss";

.link {
  display: inline-block;
  text-decoration: none;
  color: $color-primary;
  position: relative;

  &__text {
    transition: transform $duration-t;
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $size-xs;
    border-radius: 1px;
    background: $color-primary;
    opacity: 0;
    transition: opacity $duration-t;
  }

  &:hover &__text {
    transform: translateY(-$size-xs);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
