.link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  position: relative;

  &__text {
    transition: transform var(--duration-t);
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--size-xs);
    border-radius: 1px;
    background: var(--color-primary);
    opacity: 0;
    transition: opacity var(--duration-t);
  }

  &:hover &__text {
    transform: translateY(calc(var(--size-xs) * -1));
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
