.slider {
  background: var(--color-substrate);
  border-radius: var(--size-lg);
  position: relative;

  &__slide {
    padding: var(--size-mx);
  }

  img.slider__image {
    max-width: 100%;
    width: auto;
    max-height: 480px;
    filter: var(--shadow-xl);
  }

  &__arrow {
    position: absolute;
    width: var(--size-mx);
    height: var(--size-mx);
    top: calc(50% - var(--size-xl));
    font-size: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
    filter: var(--shadow-lg);

    &:hover {
      background-color: #fff;
    }

    &--next {
      right: calc(var(--size-xl) * -1);
      background-image: url('/assets/images/icons/ic:baseline-chevron-right.svg');
    }

    &--prev {
      left: calc(var(--size-xl) * -1);
      background-image: url('/assets/images/icons/ic:baseline-chevron-left.svg');
    }
  }

  &__carousel {
    .carousel-slider {
      overflow: visible;
    }

    .thumb {
      cursor: pointer;
      vertical-align: bottom;
      border: none;
      padding: 0;
      position: relative;
      overflow: visible;
      margin-right: var(--size-md);

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: calc(50% - (var(--size-xs) + var(--size-md)) / 2);
        width: var(--size-md);
        height: var(--size-md);
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transition: opacity var(--duration-t), transform var(--duration-t);
        top: calc(100% - var(--size-lg));
        pointer-events: none;
        filter: var(--shadow-lg);
        border: var(--size-xs) solid var(--color-primary);
        z-index: 1;
      }

      &.selected {
        &::before {
          opacity: 1;
          transform: translateY(calc(var(--size-xs) + var(--size-md)));
        }
      }

      &:hover,
      &.selected {
        border: none;

        img.slider__image {
          outline-offset: -1px;
          outline: 2px solid var(--color-primary);
          filter: var(--shadow-xl);
        }
      }

      img.slider__image {
        border-radius: var(--size-md);
        filter: var(--shadow-lg);
        width: 100%;
        transition: filter var(--duration-t);
        background: var(--color-substrate);
      }
    }

    .slider-wrapper {
      padding-bottom: var(--size-mx2);
      box-sizing: content-box;
      transition: height var(--duration-t);
    }

    .thumbs-wrapper {
      margin: 0;
      text-align: center;
      overflow: visible;
      padding: 0 var(--size-mx) var(--size-mx);
    }
  }

  @media (max-width: 768px) {
    &__slide {
      padding: var(--size-xl);
    }

    &__carousel {
      .thumbs-wrapper {
        padding: 0 var(--size-xl) var(--size-xl);
      }
    }
  }
}
