@import "../../assets/scss/variables.scss";

.slider {
  background: $color-substrate;
  border-radius: $size-lg;
  position: relative;

  &__slide {
    padding: $size-mx;
  }

  img.slider__image {
    max-width: 100%;
    width: auto;
    max-height: 480px;
    box-shadow: $shadow-xl;
    border-radius: $size-md;
  }

  &__arrow {
    position: absolute;
    width: $size-mx;
    height: $size-mx;
    top: calc(50% - #{$size-xl});
    font-size: 0;
    border: none;
    background: url("../../assets/images/icons/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
    box-shadow: $shadow-md;

    &:hover {
      background-color: #fff;
    }

    &--next {
      right: -$size-xl;
    }

    &--prev {
      left: -$size-xl;
      transform: rotate(180deg);
    }
  }

  &__carousel {
    .carousel-slider {
      overflow: visible;
    }

    .thumb {
      cursor: pointer;
      vertical-align: bottom;
      border: none;
      padding: 0;
      position: relative;
      overflow: visible;
      margin-right: $size-md;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: $size-md;
        width: calc(100% - #{$size-lg});
        height: $size-xs;
        border-radius: 1px;
        background: $color-primary;
        opacity: 0;
        transition: opacity $duration-t, transform $duration-t;
        top: calc(100% + #{$size-sm});
        pointer-events: none;
      }

      &:hover,
      &.selected {
        border: none;

        &::before {
          opacity: 1;
          transform: translateY($size-sm);
        }
      }

      img.slider__image {
        border-radius: $size-sm;
        box-shadow: none;
        width: 100%;
      }
    }

    .slider-wrapper {
      padding-bottom: #{$size-mx * 2};
      box-sizing: content-box;
      transition: height $duration-t;
    }

    .thumbs-wrapper {
      text-align: center;
      overflow: visible;
      padding: 0 $size-mx $size-mx;
    }
  }
}
