@import "../../assets/scss/variables.scss";

.slider {
  background: $color-substrate;
  border-radius: $size-lg;
  position: relative;

  &__slide {
    padding: $size-mx;
  }

  img.slider__image {
    max-width: 100%;
    width: auto;
    max-height: 480px;
    box-shadow: $shadow-xl;
    border-radius: $size-md;
  }

  &__arrow {
    position: absolute;
    width: $size-mx;
    height: $size-mx;
    top: calc(50% - #{$size-xl});
    font-size: 0;
    border: none;
    background: url("../../assets/images/icons/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
    box-shadow: $shadow-lg;

    &:hover {
      background-color: #fff;
    }

    &--next {
      right: -$size-xl;
    }

    &--prev {
      left: -$size-xl;
      background-image: url("../../assets/images/icons/chevron-left.svg");
    }
  }

  &__carousel {
    .carousel-slider {
      overflow: visible;
    }

    .thumb {
      cursor: pointer;
      vertical-align: bottom;
      border: none;
      padding: 0;
      position: relative;
      overflow: visible;
      margin-right: $size-md;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - #{($size-xs + $size-md) / 2});
        width: $size-md;
        height: $size-md;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transition: opacity $duration-t, transform $duration-t;
        top: calc(100% - #{$size-xs + $size-md});
        pointer-events: none;
        box-shadow: $shadow-lg;
        border: $size-xs solid $color-primary;
      }

      &.selected {
        &::before {
          opacity: 1;
          transform: translateY($size-sm);
        }
      }

      &:hover,
      &.selected {
        border: none;

        img.slider__image {
          outline-offset: -1px;
          outline: 2px solid $color-primary;
          box-shadow: $shadow-xl;
        }
      }

      img.slider__image {
        border-radius: $size-md;
        box-shadow: $shadow-lg;
        width: 100%;
        transition: box-shadow $duration-t;
      }
    }

    .slider-wrapper {
      padding-bottom: $size-mx2;
      box-sizing: content-box;
      transition: height $duration-t;
    }

    .thumbs-wrapper {
      text-align: center;
      overflow: visible;
      padding: 0 $size-mx $size-mx;
    }
  }
}
